<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Factura</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-50">
<nav class="bg-white border-b border-gray-200 p-4 mb-10"><div class="max-w-screen-xl mx-auto"><a href="/" class="text-xl font-bold text-gray-900">&larr; Volver</a></div></nav>

<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow border border-gray-200">
    <h2 class="text-2xl font-bold mb-6 text-gray-900">Generar Venta</h2>
    <form th:action="@{/guardarFactura}" th:object="${factura}" method="post">

        <div class="relative z-0 w-full mb-5 group">
            <select th:field="*{cedula_cliente}" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-gray-200 peer" required>
                <option value="">Seleccionar Cliente (Cédula)...</option>
                <option th:each="c : ${listaClientes}" th:value="${c.cedula}" th:text="${c.nombre} + ' ' + ${c.apellido} + ' (' + ${c.cedula} + ')'"></option>
            </select>
        </div>

        <div class="relative z-0 w-full mb-5 group">
            <select th:field="*{codigo_producto}" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-gray-200 peer" required>
                <option value="">Seleccionar Producto...</option>
                <option th:each="p : ${listaProductos}" th:value="${p.codigo}" th:text="${p.nombre} + ' - $' + ${p.precio_unitario}"></option>
            </select>
        </div>

        <div class="relative z-0 w-full mb-5 group">
            <input type="number" th:field="*{cantidad}" class="block py-2.5 px-0 w-full text-sm bg-transparent border-b-2 border-gray-300 focus:border-blue-600 peer placeholder-transparent" placeholder=" " min="1" value="1" required />
            <label class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-focus:-translate-y-6">Cantidad</label>
        </div>

        <button type="submit" class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5">Confirmar Venta</button>
    </form>
</div>
</body>
</html>